<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swproject.fi.swproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SomeActivity"
            android:label="@string/title_activity_" >
        </activity>
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name=".Data"
            android:label="@string/title_activity_data" >
        </activity>
        <activity
            android:name=".DevicesByTimeChartActivity"
            android:label="@string/title_devices_count_activity" >
        </activity>
        <activity
            android:name=".DataTrafficByCountry"
            android:label="@string/title_traffic_measure_activity" >
        </activity>
        <activity
            android:name=".SummeryActivity"
            android:label="@string/title_activity_summery" >
        </activity>
    </application>

</manifest>
